{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-background">
    <form action="" style="display: flex; justify-content: space-between; width: 100vw; margin: 0 100px;">
        <div class="image-preview" style="margin-top: 0;">
            <img id="preview-image" src="{{image_obj.inputImg.url}}" alt="Preview">
        </div>
        <input type="range" min="0" max="10" step="1">
        <div class="image-preview" style="margin-top: 0;">
            <img id="preview-image" src="{{image_obj.outputImg.url}}" alt="Preview">
        </div>
        <!-- <br> -->
        <!-- <input class="custom-file-input" type="file" id="inputImg" name="inputImg" accept="image/*"> -->
        <!-- <label for="inputImg">Upload Image</label> -->
        <!-- <br><br> -->
    </form>
    <a href="{% url 'home' %}">Home</a>
</div>
<script>
    const rangeInput = document.querySelector('input[type="range"]');

    rangeInput.addEventListener('change', (event) => {
        const value = event.target.value;
        console.log(value)

        // const xhr = new XMLHttpRequest();
        // xhr.open('POST', '');
        // xhr.setRequestHeader('Content-Type', 'application/json');
        // xhr.onload = function () {
        //     // Handle response from server
        // };
        // xhr.send(JSON.stringify({ value }));
    });

</script>
{% endblock content %}